<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
    {{> header}}
    </header>
    {{{body}}}
    <footer>
    {{> footer}}
    </footer>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
